html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
  }

#intro{
	background-color: rgba($color: #073642, $alpha: 0.75);
	border-radius: 25px;
	padding: 25 !important;
	color: white;
	text-align: right;
}
#introText{
	color: #839496;
	text-align: left;

}
#introPage{
  background-image: url(../images/ivana-cajina-LlDQPnErFxo-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.inBetweenPage{
  background-color: #073642;
}
#serviceContainer{
	height: 100%;
	padding: 200px 0px 200px 0px;
}
#portfolioPage{
	background-image: url(../images/rodrigo-dos-reis-ct-CUb3N4qA-unsplash.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0px 100px 0px !important;
}
#contactPage{
	background-image: url(../images/jay-mantri-TFyi0QOx08c-unsplash.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 80%;
}
#footerpage{
	margin-bottom: 0 !important;
}
nav{
	padding: 10px;
}
.nav-link{
	color: white !important;
	margin-left: 10px;
	margin-right: 10px;
	}
.nav-link:hover{
	background-color: white;
	color: #007bff !important;
}
.leftLink{
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
.centerLink{
	border-radius: 0px !important;
}
.rightLink{
	border-bottom-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
}
.nav-link.active{
	background-color: white !important;
	color: #007bff !important;
}
nav .navbar-brand{
	font-size: 30px;
	text-shadow: -2px 0 darkblue, 0 2px darkblue, 2px 0 darkblue, 0 -2px darkblue;
}
.navbar.scrolled{
    background-color: rgba($color: #073642, $alpha: 0.75) !important;
	transition: background 500ms;
}
.navbar-toggler-icon{
	color: red;
}
.navbar-nav{
	border-radius: 25px;
	border-style: solid;
	border-width: thick;
}

.navbar-nav .nav-link{
	border-radius: 25px;
	margin: 0;
}

.contactForm{
	border-radius: 50px;
	color: white;
	padding: 25px;
	background-color:rgba($color: #073642, $alpha: 0.75);
	margin: 10vh 0vh 10vh 0vh;  
}
.pageHeader{
  color: white;
  text-align: center;
  border-radius: 25px;
}

.personalDescription{
  border-radius: 25px;
}

/*----------*/
/*Card*/
.card{
  	color: black;
	border-radius: 25px;
	background-color: white !important;
	height: 100%;
}
.card-img-top{
	width: 100%;
	height: 100%;
	//object-fit: cover;
}
.card-header{
	font-size: 20px;
	text-decoration: underline;
	text-align: right;
	background-color: inherit;
	border-radius: 25px 25px 0px 0px !important;
}
.cardContainer{
	border-radius: 50px;
	color: white;
	background-color:rgba($color: #073642, $alpha: 0.75);
}

/*----------*/

@media only screen and (max-width: 750px){
	#servicePage {
		height: auto !important;
	}
	.contact{
		height: auto !important;
	}
	.contactForm{
		margin-top: 50px !important;
		margin-bottom: 50px !important;
	}
	html{
		font-size: 12px;
	}
	#aboutPage{
		height: auto !important;
	}
 }

.usedTech{
	border-radius: 10em;
	background-color:white;
	color: #007bff;
	border: none;
	padding: 10px 30px 10px 30px;
	margin: 10px;
}
@media only screen  
and (max-device-width : 1280px) 
and (orientation : landscape){
	#servicePage {
		height: auto !important;
	}
	.contact{
		height: auto !important;
	}
	.contactForm{
		margin-top: 50px !important;
		margin-bottom: 50px !important;
	}
	html{
		font-size: 12px;
	}
	#aboutPage{
		height: auto !important;
	}
}